/* Use a base font size on the root element (e.g., html) */
html {
    font-size: 16px;
  }
  
  /* Fluid typography for various elements */
  
  .content-panel {
    position: fixed;
    min-width: 70vw;
    max-height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Cinzel-VariableFont_wght', sans-serif;
    font-size: 1.5rem; /* Adjust the base font size for this element */
  }
  
  /* Media query for screens smaller than 600px */
  @media only screen and (max-width: 600px) {
    .content-panel {
      font-size: 1rem; /* Adjust the font size for smaller screens */
    }
  }
  
  /* Media query for screens between 600px and 900px */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    .content-panel {
      font-size: 1.25rem; /* Adjust the font size for medium-sized screens */
    }
  }
  
  /* ... Add more media queries as needed ... */
  
  /* Repeat the same approach for other elements with font sizes */
  
  .image-container {
    width: 21vw;
    overflow: hidden;
  }
  
  .rounded-image {
    width: 117.1%;
    object-fit: cover;
  }
  
  .content {
    flex: 1;
    display: flex;
    text-align: left;
    padding: 1em;
    overflow: hidden;
  }
  
  .content h2 {
    font-size: 3rem;
    margin-top: 0.5em;
    margin-left: 0.5em;
    line-height: 2;
  }
  
  .news-container {
    flex: 1;
    overflow-y: auto;
  }
  
  .news-title {
    margin-top: 0%;
    margin-left: 0%;
    font-size: 2.75rem;
    text-align: center;
  }
  
  .news-subtitle {
    margin-top: -3%;
    margin-left: 0%;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .news-content {
    margin-top: 0%;
    margin-left: 0%;
    font-size: 0.875rem;
  }
  
  .planner-content {
    flex: 1;
    overflow-y: auto;
  }
  
  .regrade-content {
    margin-top: 13%;
    margin-left: 13%;
    font-size: 8rem;
  }
  
  .input-value {
    color: #333;
    display: inline-block;
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .input-container {
    margin-left: 10px;
    display: inline-block;
  }
  
  .result-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
  }
  
  .smaller-input {
    max-width: 50%;
  }
  
  .gold {
    color: #ffd700;
  }
  
  .silver {
    color: #c0c0c0;
  }
  
  .copper {
    color: #8b4513;
  }
  
  .gilda {
    padding-right: 5px; /* Add px unit */
  }
  
  .drag-stab,
  .charc-stab {
    display: inline-block;
    padding-left: 20px; /* Add px unit */
  }
  
  .currency-container {
    flex: auto;
  }
  